{"filter":false,"title":"requirements.txt","tooltip":"/aws-modern-application-workshop/module-3/app/service/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1627482557781,"hash":"0b12b3d0c1b0cc2b82b09ffa8ab0483b1b2ae4e7"}